/*
Verde: #008500
Azul: #0044a4
Naranja: #e35a00
*/

header img {
  display: inline-block;
  height: 5rem;
  width: auto;
}

header div.flexbox {
  justify-content: space-between;
}

nav a {
  padding: 0.5rem 1rem;
  margin: 0 0.1rem;
  display: inline-block;
}

nav a:hover, .active-nav-btn {
  color: #fafafa;
  background-color: #008500;
}

.main-header {
  padding: 0.5rem 0 0.25rem;
}

.page-title {
  background-color: #008500;
}

footer {
  background-color: #002635;
}

footer p {
  font-size: 0.75rem;
  color: #618a96;
}

@media screen and (max-width: 750px) {
  header div.flexbox {
    justify-content: center;
  }
}
